/** @format */

.background {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 300px;
}
button {
	width: 160px;
	height: 40px;
	background-color: rgb(150, 148, 148);
	color: antiquewhite;
	border: none;
	font-size: 18px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
body {
	background: linear-gradient;
}
#no-mobile {
	position: absolute;
	z-index: 99;
	height: 100vh;
	background-color: cornflowerblue;
	color: wheat;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	top: 0;
}
@media screen and (max-width: 650px) {
	#no-mobile {
		display: none;
	}
}
